
*{
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
}


body{
  background: #0E0E0E;
  transition: 0.3s;
}



.custom-color {
    color: #55FE66; /* Your custom color code */
  }


  .custom-bg {
    background-color: #55FE66; /* Your custom background color */
  }

  .custom-bold {
    font-weight: bold;
  }
  
  .custom-normal {
    font-weight: normal;
  }
  
  .custom-light {
    font-weight: lighter;
  }
  
  .custom-italic {
    font-style: italic;
  }

  .custom-font-size-20 {
    font-size: 20px;
  }

  .custom-font-size-18 {
    font-size: 18px;
  }
  .custom-font-size-16 {
    font-size: 16px;
  }
  .custom-font-size-14 {
    font-size: 14px;
  }

  .custom-font-size-12 {
    font-size: 12px;
  }
  .custom-font-size-10 {
    font-size: 10px;
  }

  .custom-font-size-8 {
    font-size: 8px;
  }
  .custom-font-size-6 {
    font-size: 6px;
  }

  .custom-font-size-4 {
    font-size: 4px;
  }

  .custom-font-size-2 {
    font-size: 2px;
  }


  .btn-custom-outline {
    color: #fff; /* Text color */
    background-color: transparent; /* Transparent background */
    border: 2px solid #55FE66; /* Border color - customize as needed */
  }
  /* Optional hover effect */
  .btn-custom-outline:hover {
    background-color: #55FE66; 
    color: #fff; 
  }

  .bottom-border {
    border-bottom: 1px solid  #55FE66;
    padding-bottom: 8px; 
  }
  .border {
    border: 2px solid  #55FE66;
    border-radius: 20px;
  }

  .top-border {
    border-top: 1px solid  #55FE66;
    padding-bottom: 8px; 
  }

  
  .custom-link {
    color: #ffff; /* Set your desired text color */
    text-decoration: none; /* Remove underline */
    text-wrap: wrap;
  }
  
  .custom-links {
    color: #ffff; /* Set your desired text color */
    text-decoration: none; /* Remove underline */
    text-wrap: wrap;
  }

  /* Hover effect for the custom link */
  .custom-link:hover {
    color: #55FE66; /* Set your desired hover color */
    text-decoration: underline; /* Add underline on hover */
  }



.custom-back {
  background-color: #0E0E0E; 
}

.outer-glow-card {
  box-shadow: 0 0 20px rgb(4, 246, 40); /* Adjust the color and size as needed */
}



.navbar-nav .nav-link.active {
  color: #55FE66 !important; /* Green color for the active link */
}

.btn-custom-outline {
  border-color: #55FE66;
  color: #55FE66;
}

.toggle {
  background-color: #0E0E0E; 
  border-radius: 15px; 
  border-color: #fff;
  width: 100%;
  text-align: start;
  justify-content: space-between;
  display: flex;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toggle img {
  width: 20px;
}

.reg {
  width: 30px;
}

.ret {
  width: 17px;
  height: 25px;
}

.regs {
  width: 40px;
}

.dave{
  background-color: #0E0E0E; 
  border-radius: 15px; 
  border-color: #fff;
  padding: 10px;
  margin-top: 5px;
}

.Union {
  width: 100px;
}

.dev {
  background-color: #121212; 
  border-radius: 5px; 
  border-color: #fff;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.dev:focus {
  background-color: #0000; 
  border-radius: 5px; 
  border-color: #fff;
  color: #fff
}


.scan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.form{
  background-color: #121212; 
  width: 25rem;
  height: 30rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  box-shadow: 0 0 20px rgb(4, 246, 40); 
  border-radius: 25px; 
  padding: 20px;

}

.word {
  position: absolute;
  right: 40rem;
  top: 24.5rem;
}