*{
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
    box-sizing: border-box;
  }
  
  
  body{
    background: #0E0E0E;
    transition: 0.3s;
  }

  .regs {
    width: 35px;
    height: 35px;
  }

.custom-back {
  background-color: #0E0E0E; 
}

.custom-backs {
  background-color: #0E0E0E; 
  font-size: 10px;
  padding: 8px;
  border-radius: 20px;
}

.custom-color {
    color: #55FE66;
}

.custom-btn {
  background-color: #55FE66;
  color: #636363;
  font-size: 12px;
  padding: 10px;
  border-radius: 20px;
  width: 8rem;
}
.custom-btns {
  background-color: #111111;
  color: #fffefe;
  font-size: 12px;
  padding: 10px;
  border-radius: 20px;
  width: 8rem;
}
.outline {
  background-color: #55FE6650;
  color: #ffff;
  border-radius: 20px;
  padding: 5px;
  font-size: 12px;
  margin-top: 5px;
}

.container{
    display: flex;
    padding-top: 20px;
}

/*-----------------left-sidear------------*/
.left-sidebar{
    height: 96vh;
    left: 0;
    width: 16%;
    padding-left: 30px;
   
}

.left-container{
    display: grid;
    justify-content: space-between;
    gap: 50px;
}

.top-lists {
 background-color: #636363; 
 padding: 10px;
}

 .button {
    color: #636363; 
    text-decoration: none; 
    display: flex;
    gap: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease; 
  }
  
  .button:hover {
    background-color: #55FE66;
    padding: 5px 20px; 
    color:#fff;
    border-radius: 20px;
  }

  .ton {
    color: #fff;
  }

  .bottom-list {
    position: absolute;
    bottom: 10px;
  }

  .top-list {
    position: absolute;
    top: 7rem;
    }

    

  .button {
    color: #636363; /* Set your text color */
    text-decoration: none; /* Remove underline for links */
    display: flex;
    gap: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
  .button:hover {
    background-color: #55FE66;
    padding: 5px 20px; 
    color:#fff;
    border-radius: 20px;
  }


  .buttons {
    color: #bababa; /* Set your text color */
    text-decoration: none; /* Remove underline for links */
    display: flex;
    gap: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
   .buttons:hover {
    background-color: #55FE66;
    padding: 5px 20px; 
    color:#454545;
    border-radius: 20px;
  }

  .active.buttons {
    background-color: #55FE66;
    padding: 5px 20px; 
    color:#424242;
    border-radius: 20px;
  }

  .active.button {
    background-color: #55FE66;
    padding: 5px 20px; 
    color:#424242;
    border-radius: 20px;
  }


  .buttonst {
    color: #bababa; /* Set your text color */
    text-decoration: none; /* Remove underline for links */
    display: flex;
    gap: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
   .buttonst:hover {
    background-color: #55fe6685;
    padding: 5px 20px; 
    color:#454545;
    border-radius: 20px;
  }

  .active.buttonst {
    background-color: #8fff9a42;
    padding: 5px 20px; 
    color:#00ff22;
    border-radius: 20px;
  }

  .tip {
    color: white; 
    text-decoration: none;
  }

  .toggle {
    position: absolute;
    top: 18rem;
    left: 8.5rem;
  }

  .toggle-nav {
    position: absolute;
    top: 19rem;
    left: 16rem;
  }

  .dave {
    background-color: #1e1d1d;
    gap: 5px;
    z-index: 3;
  }


 /*----------------main------------*/

 .main-content {
  flex-basis: 85%;
  margin-left: 2rem;
  color: white;
 }

 .content {
  margin-top: 5rem;
 }

 .tip{
  font-size: 14px;
  color:#454545;
 }

 .custom-text-10{
  font-size: 10px;
 }
 .custom-text-12{
  font-size: 12px;
 }
 
 .custom-text-14{
  font-size: 14px;
 }
 .custom-text-16{
  font-size: 16px;
 }
 .custom-text-18{
  font-size: 18px;
 }

 .cards {
  width: 18rem;
 border-radius: 30px;
  transition: transform 0.5s;
  overflow: hidden;
}

.cards:hover {
  transform: translateY(-20px);
}

.custom-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: #ffffff; /* Set the desired color */
  margin-right: 8px; /* Adjust spacing as needed */
}

.custom-i {
  padding-top: 30px;
  padding-bottom: 87px;
}
.custom-is {
  padding-top: 20px;
  padding-bottom: 40px;
}
.custom-ist {
  color: #B56060;
}

.dev {
  background-color: #121212; 
  border-radius: 5px; 
  border-color: #fff;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.dev:focus {
  background-color: #0000; 
  border-radius: 5px; 
  border-color: #fff;
  color: #fff
}

